@model IEnumerable<Restauracja.Models.OrderContent>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Szczegóły zamówienia";
}
<div class="container-fluid">
    <div class="row d-flex justify-content-center">
        <div class="d-flex justify-content-center">
            <h1>Szczegóły zamówienia: @Model.First().OrderId</h1>
        </div>
    </div>
    <div class="row d-flex justify-content-center">
        <div class="d-flex justify-content-center">
            <button onclick="history.go(-1);" class="btn btn-primary">Wróć</button>
        </div>
    </div>
    <hr />
    <div class="row d-flex justify-content-center">
        <div class="d-flex justify-content-center">
            <h2>Dane dostawcze</h2>
        </div>
    </div>
        <div class="row d-flex justify-content-center">
            <div class="d-flex justify-content-center">
                <p>Imie: @Model.First().Order.User.FirstName</p>
            </div>
        </div>
        <div class="row d-flex justify-content-center">
            <div class="d-flex justify-content-center">
                <p>Nazwisko: @Model.First().Order.User.LastName</p>
            </div>
        </div>
        <div class="row d-flex justify-content-center">
            <div class="d-flex justify-content-center">
                <p>Numer telefonu: @Model.First().Order.User.PhoneNumber</p>
            </div>
        </div>
        <div class="row d-flex justify-content-center">
            <div class="d-flex justify-content-center">
                <p>Adres: @Model.First().Order.User.Address</p>
            </div>
        </div>
        <div class="row d-flex justify-content-center">
            <div class="d-flex justify-content-center">
                <p>Miasto: @Model.First().Order.User.City</p>
            </div>
        </div>
        <div class="row d-flex justify-content-center">
            <div class="d-flex justify-content-center">
                <p>Kod pocztowy: @Model.First().Order.User.PostalCode</p>
            </div>
        </div>
    <hr />
    <div class="row d-flex justify-content-center">
            <div class="d-flex justify-content-center">
                <h2>Zamówienie</h2>
            </div>
        </div>
    <div class="row">
        <div class="d-flex justify-content-center admin_dishes">
            <table border="1" class="table table-striped table-dark">
                <thead>
                <th>Zdjęcie</th>
                <th>Nazwa</th>
                <th>Cena [PLN]</th>
                <th>Ilość</th>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td style=" width: 25%">
                                @if (!string.IsNullOrEmpty(item.Dish.Image))
                                {
                                    <img style="width: 80%" src="data:image;base64,@Html.DisplayFor(modelItem => item.Dish.Image)" alt="@Html.DisplayFor(modelItem => item.Dish.Name)" />
                                }
                                else
                                {
                                    <img style="width: 80%" src="~/static/Images/placeholder.jpg" alt="Brak zdjęcia" />
                                }
                            </td>
                            <td style=" width: 25%">
                                @Html.DisplayFor(modelItem => item.Dish.Name)
                            </td>
                            <td style=" width: 25%">
                                @Html.DisplayFor(modelItem => item.Dish.Price)
                            </td>
                            <td style=" width: 25%">
                                @Html.DisplayFor(modelItem => item.Amount)
                            </td>
                        </tr>
                    }

                </tbody>
            </table>
        </div>
    </div>
    <div class="row d-flex justify-content-center">
        <div class="d-flex justify-content-center">
            <h2>Cena całkowita: @Model.First().Order.FullPrice PLN</h2>
        </div>
    </div>
</div>