@model Restauracja.ViewModels.PaginationViewModel<Restauracja.Models.Order>

@{
    ViewData["Title"] = "Zarządzanie zamówieniami";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section>
    <div class="container-fluid">
        <div class="row">
            <div class="d-flex justify-content-center">
                <h1 class="welcom_on_page">Zarządzanie zamówieniami</h1>
            </div>
        </div>
        <div class="row">
            <div class="d-flex justify-content-center admin_dishes">
                @if (Model.Items.Count > 0)
                {
                    <table class="table table-striped table-dark">
                        <thead>
                            <tr>
                                <th>ID zamówienia</th>
                                <th>Cena [PLN]</th>
                                <th>Czy dostarczone?</th>
                                <th>Akcje</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Items)
                            {
                                <tr class="dish-tr">
                                    <td>
                                        @Html.DisplayFor(modelItem => item.OrderId)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.FullPrice)
                                    </td>
                                    <td class="col-md-2">
                                        @if (item.IsDelivered)
                                        {
                                            @("TAK")
                                        }
                                        else
                                        {
                                            @("NIE")
                                        }

                                    </td>
                                    <td>
                                        <a asp-action="Details" asp-route-id="@item.OrderId">Szczegóły</a>
                                        <a asp-action="GenerateFaktura" asp-route-id="@item.OrderId"><button class="btn btn-success add-button">Generuj fakturę</button></a>
                                        @if (!item.IsDelivered)
                                        {
                                            <a asp-action="ChangeStatus" asp-route-id="@item.OrderId"><button class="btn btn-success add-button">Zmień status</button></a>
                                        }
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }
                else
                {
                    <div class="text-white"><h2>Lista jest pusta</h2></div>
                }

            </div>
        </div>
        @if (Model.Items.Count > 0)
        {
            <div class="row">
                <div>
                    <div class="d-flex justify-content-center admin_dishes">
                        <p>
                            <a href="@Url.Action("Index", new { page = 0 })">
                                <button class="btn btn-primary">@("<<")</button>
                            </a>
                            <a href="@Url.Action("Index", new { page = Model.CurrentPage - 1 })">
                                <button class="btn btn-primary">@("<")</button>
                            </a>
                            <button class="btn btn-primary" disabled>@Model.CurrentPage / @Model.TotalPages (@Model.Items.Count()) </button>
                            <a href="@Url.Action("Index", new { page = Model.CurrentPage + 1 })">
                                <button class="btn btn-primary">></button>
                            </a>
                            <a href="@Url.Action("Index", new { page = Model.TotalPages })">
                                <button class="btn btn-primary">>></button>
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        }

    </div>
</section>