@model Restauracja.Models.User

@{
    ViewData["Title"] = "Edytuj mnie";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />

<h2 class="admin_label mb-3">Edycja siebie</h2>
<hr />
<form asp-action="Edit">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="UserId" value="@Model.UserId" />
    <input type="hidden" asp-for="RoleId" value="@Model.RoleId" />
    <input type="hidden" asp-for="Email" value="@Model.Email" />
    <input type="hidden" asp-for="ActivationCode" value="@Model.ActivationCode" />
    <input type="hidden" asp-for="PasswordHash" value="@Model.PasswordHash" />
    <div class="mb-3">
        <label class="form-label admin_label">Imie</label>
        <input asp-for="FirstName" class="form-control" />
        <span asp-validation-for="FirstName" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label class="form-label admin_label">Nazwisko</label>
        <input asp-for="LastName" class="form-control"></input>
        <span asp-validation-for="LastName" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label class="form-label admin_label">Miasto</label>
        <input asp-for="City" class="form-control"></input>
        <span asp-validation-for="City" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label class="form-label admin_label">Kod pocztowy</label>
        <input asp-for="PostalCode" class="form-control" />
        <span asp-validation-for="PostalCode" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label class="form-label admin_label">Adres</label>
        <input asp-for="Address" class="form-control" />
        <span asp-validation-for="Address" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label class="form-label admin_label">Numer telefonu</label>
        <input asp-for="PhoneNumber" class="form-control" />
        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <input type="submit" value="Zapisz" class="btn btn-success" />
    </div>
</form>
<div class="mb-3">
    <button onclick="history.go(-1);" class="btn btn-primary">Wróć</button>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
